<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<% user.forEach((foundUser)=>{ %>
    <ul>
        <li><%= foundUser.Semester %></li>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Launch demo modal
          </button>
          
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <form name="form1" method="GET" action="/student/update_student_form/:<%= foundUser._id%>">
                  <table>
                      <tr>
                          <td>First name</td>
                          <td><input type="text" name="name" placeholder="<%= foundUser.Name_of_student %>"></td>
                      </tr>
                      <tr>
                          <td>Date of Registration</td>
                          <td><input type="date" name="date_of_registration" placeholder="<%= foundUser.Date_of_Registration%>"></td>
                      </tr>
                      <tr>
                          <td>Semester</td>
                          <td><input type="number" name="semester" placeholder="<%= foundUser.Semester %>"></td>
                      </tr>
                      <tr>
                          <td>Form-Number</td>
                          <td><input type="number" name="form_number" placeholder="<%= foundUser.Form_Number %>"></td>
                      </tr>
                      <tr>
                          <td>Id number of student</td>
                          <td><input type="number" name="id_number" placeholder="<%= foundUser.Id_number_of_student %>"></td>
                      </tr>
                      <tr>
                          <td>Postal Address</td>
                          <td><input type="text" name="postal_address" placeholder="<%= foundUser.Postal_address%>"></td>
                      </tr>
                      <tr>
                          <td>Student Mobile Number</td>
                          <td><input type="number" name="student_number" placeholder="<%= foundUser.Student_mobile_number%>"></td>
                      </tr>
              
                      <tr>
                          <td>Blood-Group</td>
                          <td><input type="text" name="blood_group" placeholder="<%= foundUser.Blood_group%>"></td>
                      </tr>
                      <tr>
                          <td>Father's Mobile Number</td>
                          <td><input type="number" name="father_number"  placeholder="<%= foundUser.Father_number%>"></td>
                      </tr>
                      <tr>
                          <td>House number</td>
                          <td><input type="number" name="house_number" placeholder="<%= foundUser.Residence_number%>"></td>
                      </tr>
                      <tr>
                          <td>Route</td>
                          <td><input type="text" name="route" placeholder="<%= foundUser.Router%>"></td>
                      </tr>
                      <tr>
                          <td>Pick-up-Stand</td>
                          <td><input type="text" name="pick_up_stand" placeholder="<%= foundUser.Pick_up_stand%>"></td>
                      </tr>
                      <tr>
                          <td>Fees per Sem</td>
                          <td><input type="number" name="fees" placeholder="<%= foundUser.Fess_per_sem%>"></td>
                      </tr>
                      <tr>
                          <td>Deposit</td>
                          <td><input type="number" name="deposit" placeholder="<%= foundUser.Deposit%>"></td>
                      </tr>
                      <tr>
                          <td>date of birth</td>
                          <td><input type="date" name="date_of_birth" placeholder="<%= foundUser.Date_of_Birth%>"></td>
                      </tr>
                      <tr>
                          <td>Branch</td>
                          <td><input type="text" name="branch" placeholder="<%= foundUser.Branch%>"></td>
                      </tr>
                      <tr>
                          <td>Name of Institution</td>
                          <td><input type="number" name="name_of_institution" placeholder="<%= foundUser.Name_of_institution%>"></td>
                      </tr>
              
                      <tr>
                          <td colspan="2"><input type="submit" value="UPDATE"></td>
                      </tr>
                  </table>
              </form>
               
                </div>

              </div>
            </div>
    </ul>
<%}) %>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

